<div *ngIf="!user">
  <p>Loggen sie sich bitte ein</p>
  <a href="/login"><button mat-raised-button="primary">Zum Login</button></a>
</div>
<div *ngIf="user.uname">
  <div style="margin-left: 20px" fxLayout="row">
  <div fxLayout="column">
    <div>
      <h2>Hallo {{user?.uname | json}}</h2>
      <button mat-raised-button="primary" (click)="addDokument()">New Dokument</button>
    </div>
  </div>
</div>
<div fxLayout="row">
</div>
  <div fxLayoutAlign="center flex-end" style="margin-right: 20px" fxFlex="40%">
    <div fxLayout="column">
      <div>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let doc of user?.docs, let d = index">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{doc?.name}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <div *ngFor="let version of doc.versions, let i = index" [attr.data-index]="i"><a download="{{doc.name}}" [href]="sanitize(saveByteArray(dokumentArray[d][i]))"><button mat-raised-button="primary" class="expansion-button">version {{i}}</button></a></div>
            </div>
            <div fxLayout="column"></div>
            <div>
            <button class="expansion-button" mat-raised-button="primary" (click)="openDialog(doc.did)">Neue Version pushen</button>
            </div>
            <div>
              <button class="expansion-button" mat-raised-button="primary" (click)="openAddUserDialog(doc.did)">User hinzufügen</button>
            </div>
            <div>
              <button class="expansion-button" mat-raised-button="primary" (click)="openRemoveUserDialog(doc.did)">User entfernen</button>
            </div>
            <!--div>
              <a download="hello.pdf" [href]="sanitize(saveByteArray(fileArray[0]))">
                <button class="expansion-button" mat-raised-button="primary">Einsehen</button>
              </a>
            </div-->
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>


