<div style="margin-left: 20px" fxLayout="row">
  <div fxLayout="column">
    <div>
      <h2>Hallo</h2>
    </div>
  </div>
</div>
<div fxLayout="row">
  <img fxFlex="10%" src="assets/pictures/profilMock.jpg">
  <div>
    <table>
      <tbody>
        <tr><td>Firma:</td><td> Guehring KG</td></tr>
        <tr><td>Alter:</td><td>25</td></tr>
        <tr><td>Wohnort:</td><td>Albstadt</td></tr>
      </tbody>
    </table>
  </div>
</div>
  <div fxLayoutAlign="center flex-end" style="margin-right: 20px" fxFlex="40%">
    <div fxLayout="column">
      <div>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Tüv Bescheinigung
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="column"></div>
            <div>
            <button class="expansion-button" mat-raised-button="primary">Neue Version pushen</button>
            </div>
            <div>
            <button class="expansion-button" mat-raised-button="primary">Einsehen</button>
            </div>
            <div>
            <button class="expansion-button" mat-raised-button="primary">Archivieren</button>
            </div>
            <div>
              <p>Letzte Bearbeitung: 12.01.2018</p>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Amazon Rechnung
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="column"></div>
            <div>
              <button class="expansion-button" mat-raised-button="primary">Neue Version pushen</button>
            </div>
            <div>
              <button class="expansion-button" mat-raised-button="primary">Einsehen</button>
            </div>
            <div>
              <button class="expansion-button" mat-raised-button="primary">Archivieren</button>
            </div>
            <div>
              <p>Letzte Bearbeitung: 12.01.2018</p>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Bachelor Arbeit
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="column"></div>
            <div>
              <button class="expansion-button" mat-raised-button="primary">Neue Version pushen</button>
            </div>
            <div>
              <button class="expansion-button" mat-raised-button="primary">Einsehen</button>
            </div>
            <div>
              <button class="expansion-button" mat-raised-button="primary">Archivieren</button>
            </div>
            <div>
            <p>Letzte Bearbeitung: 12.01.2018</p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
