<div fxLayout="column">
  <div fxLayoutAlign="center center">
    <div fxFlex="25%" class="form-wrapper">
      <h2>Registrierung</h2>
      <form fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Passwort">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Passwort wiederholen">
        </mat-form-field>
        <button mat-raised-button="accent">Registrieren</button>
      </form>
    </div>
  </div>
</div>
