<div class="main-div" fxLayout="column">
  <div fxLayoutAlign="center center">
    <h1>Willkommen zur Datenverwaltung</h1>
  </div>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-around">
    <a fxFlex="30%" href="/signUp" class="card-router">
      <mat-card class="example-card">
        <img mat-card-image src="assets/pictures/signUp.jpg" alt="Photo of a Shiba Inu">
        <button class="card-button" mat-flat-button>REGISTRIERUNG</button>
    </mat-card>
    </a>
    <a fxFlex="30%" href="/login" class="card-router">
    <mat-card class="example-card">
      <img mat-card-image src="assets/pictures/login.jpg" alt="Photo of a Shiba Inu">
        <button class="card-button" mat-flat-button="accent">LOGIN</button>
    </mat-card>
    </a>
    <a fxFlex="30%" href="/infos" class="card-router">
    <mat-card class="example-card">
      <img mat-card-image src="assets/pictures/infos.jpg" alt="Photo of a Shiba Inu">
      <mat-card-actions>
        <button class="card-button" mat-flat-button>INFOS</button>
      </mat-card-actions>
    </mat-card>
    </a>
  </div>
</div>
<mat-list>
  <mat-list-item *ngFor="let item of items"><app-test-mat-item [number]="item"></app-test-mat-item></mat-list-item>
</mat-list>
