<div class="main-div" fxLayout="column">
  <div fxLayoutAlign="center center" fxLayout="column">
    <h1>Willkommen zur Datenverwaltung</h1>
    <div *ngIf="info.token; else loggedOut">
      <h1>{{info.username}}</h1>
      <button mat-raised-button="primary" style="margin-bottom: 15px" (click)="logout()">Logout</button>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-around">
    <a fxFlex="30%" href="/signUp" class="card-router">
      <mat-card class="example-card">
        <img mat-card-image src="assets/pictures/signUp.jpg" alt="Photo of a Shiba Inu">
        <button class="card-button" mat-flat-button>REGISTRIERUNG</button>
    </mat-card>
    </a>
    <a fxFlex="30%" href="/login" class="card-router">
    <mat-card class="example-card">
      <img mat-card-image src="assets/pictures/login.jpg" alt="Photo of a Shiba Inu">
        <button class="card-button" mat-flat-button="accent">LOGIN</button>
    </mat-card>
    </a>
    <a fxFlex="30%" href="/user" class="card-router">
    <mat-card class="example-card">
      <img mat-card-image src="assets/pictures/infos.jpg" alt="Photo of a Shiba Inu">
      <mat-card-actions>
        <button class="card-button" mat-flat-button>INFOS</button>
      </mat-card-actions>
    </mat-card>
    </a>
  </div>
</div>

