.main-div{
  background-color: #1a1a1d;
  height: 100%;
}
.example-card{
}
.card-button{
  width: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
img{
  max-height: 40vh;
}
h1{
  font-family: "URW Bookman";
  color: gainsboro;
}
.action{
  background-color: dimgrey;
}

